:root {
  --slider-connect-bg: #cb5656;
  --slider-tooltip-bg: #cb5656;
  --slider-handle-ring-color: rgba(203, 86, 86, 0.18);
}
* {
  font-family: Arial;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: white;
  text-decoration: none;
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}